<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register Book</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" type="text/css">
</head>
<body>

<div class="container">

    <h1>Register the book</h1>


    <form action="#" th:action="@{/books/save}" method="post" th:object="${book}">

        <div class="mb-3">
            <label class="form-label">Title</label>
            <input class="form-control" type="text" th:field="*{title}">
        </div>

        <div class="row">
            <div class="col">
                <label class="form-label">Publish</label>
                <input class="form-control" type="text" th:field="*{publish}">
            </div>

            <div class="col">
                <label class="form-label">Edition</label>
                <input class="form-control" type="text" th:field="*{edition}">
            </div>


        </div>

       <div class="row">
           <div class="col">
               <label class="form-label">Authors</label>
               <input class="form-control" type="text" th:field="*{authors}">
           </div>

           <div class="col">
               <label class="form-label">Year</label>
               <input class="form-control" type="text" th:field="*{year}">
           </div>
       </div>
<br>
        <button class="btn btn-primary" type="submit">Save</button>
    </form>


</div>

</body>
</html>