<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <meta charset="UTF-8">
    <title>GQUENDE LIBRARY | Home</title>
</head>
<body>

<img src="img/bg.jpg">

<div class="container">
    
    
    
    
    <h1>
        Welcome to Gquende Library...
    </h1>
    <br>
    <a href="/books"><button class="btn btn-secondary">List All Book</button></a>
    <a href="/books/new"><button class="btn btn-primary">Add Book</button></a>

</div>


</body>
</html>