<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GQUENDE LIBRARY | LOGIN</title>
</head>
<body>
<h1>Welcome to GQUENDE LIBRARY</h1>
<H3>Please enter with your username and password</H3>

<div th:if="${param.error}">
    <p>Username or password not valid!</p>
</div>

<div th:if="${param.logout}">
    <p>You are not connected!</p>
</div>

<form th:action="@{/login}" method="post">
    <div class="username">
       <label>Username: <input type="text" name="username" placeholder="Username"></label>
    </div>
    <div>
        <label>Password: <input type="password" name="password" placeholder="Password"></label>
    </div>
    <button type="submit" value="Login">Login</button>
</form>




</body>
</html>